*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* background-color: ; */
    margin: 0;
    padding: 0;
}


header{
    display: flex;
    height:10vh;
    width: 100vw;
    /* background-color: red; */
    flex-direction: column;
}
nav{
    padding: 1%;
    height: 40%;
    background-color: black;
    gap:4%;
    display: flex;
    /* clear: left; */
    justify-content: center;
    align-items: center;
}
.logo{
    color:white;
}
.name{
    color:white;
}

nav div a{
    padding: 0.5vh;
    gap: 10%;
    text-decoration: none;
    display: flex;
}
.title{
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    width: 100vw;
    height:60%;
}
.thadith p {
    font-size: medium;
}
.tverse{
    background-color: #F7E7C0; /* Matches the main background color */
    padding: 20px;
    font-size: 2rem;
    text-align: center;
    direction: rtl;
    font-family: 'Amiri', serif; /* Amiri is a popular Arabic font */
    line-height: 1.8;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    margin: 20px;
    border-radius: 10px;
}
.tverse h2{
    font-size: 100%;
}
.thadith h2{
    font-size: 100%;
}
.thadith{
    background-color: #F7E7C0; /* Matches the main background color */
    padding: 20px;
    font-size: 2rem;
    text-align: center;
    direction: rtl;
    font-family: 'Amiri', serif; /* Amiri is a popular Arabic font */
    line-height: 1.8;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    margin: 20px;
    border-radius: 10px;
}
.main{
    margin: 5vw;
    /* overflow: scroll; */
}
main {
    /* overflow: scroll; */
    /* height: 100vh; */
    flex: 1;
    width: 100vw;
    background-color: #F7E7C0;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}
.peace{
    text-align: center;
}
.foot{
    display: flex;
    flex-direction: column;
    justify-content:center ;
    align-items: center;
    height:10vh;
    width: 100vw;
    background-color:peachpuff ;
}
.dev{
    /* margin: 20px; */
    font-family: "poppins",'Courier New', Courier, monospace;
}